.container.info {
  margin-left: 20px;
  padding: 0px 0px;
  min-width: 100%;
}

.container-info {
  padding: 10px 20px;
}

h2{
  margin-left: 90px;
}

.card.mb-4.info {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border-radius: 5px;
  max-width: 30%;
  margin-left: 20px;
}

.card.mb-4.review {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border-radius: 5px;
  width: 800px;
  display: block;
  float: left;
  margin-left: 100px;
  padding: 10px 10px;
}

.card.mb-4.rating {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border-radius: 5px;
  width: 140px;
  display: block;
  float: left;
  margin-left: 100px;
  padding: 10px 10px 10px 10px;
}

.mr-sm-2 {
  width: 777px;
  padding: 10px 10px 10px 10px;
  border: 1px solid #999999;
  margin: 0 auto;
}

.submit{
  margin-top: 14px;
}

.rate{
  margin-top: 5px;
  margin-left: 5px;
  margin-bottom: 5px;
}
