<div class="container-info">
  <br><br><br><br>
  <h1>{{book.title}}</h1>
  <br>
  <div class="row">
    <div class="card mb-4 info">
      <div class="container-info">
        <p>Title: {{book.title}} ({{book.year}})</p>
        <p>Book ID: {{book.id}}</p>
        <p>Author(s): {{book.authors}}</p>
        <p>Description: {{book.description}}</p>
        <p>Publisher: {{book.publisher}}</p>
        <p>ISBN: {{book.isbn}}</p>
        <p>Category: {{book.category}}</p>
      </div>
      <div class="card-footer">
        <div class="btn-group d-flex">
          <button class="btn btn-primary">Add to History</button>
        </div>
      </div>
    </div>
    <div class="col-8">
      <div>
        <h2>Ratings</h2>
        <div class="row">
          <div class="card mb-4 rating">
            <form #loginForm="ngForm" (ngSubmit)="addRating()" autocomplete="off" class="form-inline my-2 my-lg-0">
              <div class="container-review">
                <div class="dropdown my-2 my-sm-0">
                  <select name="demo" id="#">
                    <option selected="selected" value="2">1/5</option>
                    <option value="2">2/5</option>
                    <option value="3">3/5</option>
                    <option value="4">4/5</option>
                    <option value="5">5/5</option>
                  </select>
                </div>
              </div>
              <div class="rate">
                <button class="btn btn-success my-2 my-sm-0" type="submit">Rate</button>
              </div>
            </form>
          </div>
        </div>
      </div>
      <h2>Reviews</h2>
      <div class="row" *ngFor="let review of reviews">
        <app-review-field [review]="review"></app-review-field>
      </div>
      <div>
        <div class="row">
          <div class="card mb-4 review">
            <form #loginForm="ngForm" (ngSubmit)="addReview()" autocomplete="off" class="form-inline my-2 my-lg-0">
              <div class="container-review">
                <textarea rows="3" name="review" class="form-control mr-sm-2" type="text"
                  placeholder="Add a review here"></textarea>
              </div>
              <div class="submit">
                <button class="btn btn-success my-2 my-sm-0" type="submit">Add</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
